/*.postBox {
  border-radius: 25px;
  width: 940px;
  height: 200px;
  background-color: orange;
  color: black;
  opacity: 0.9;
  filter: alpha(opacity=90);
  color: blue;
}*/

/*.col-md-10 {
  border-radius: 25px;
  background-color: lightgray;
  opacity: 0.5;
  filter: alpha(opacity=50);
  color: blue;
  margin: 20px 20px
}*/

input[type="text"] {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 5px;

}